<div class="scroll-trigger"><div class="footer_member-wrapper"><img id="w-node-_1daa4e21-d1bf-2e5e-da3b-a1bf5f347c39-cf39daf1" sizes="(max-width: 991px) 100vw, 50vw" alt="" src="{{ 'sky-bg.jpg' | asset_url }}" loading="lazy" srcset="{{ 'sky-bg-p-500.jpg' | asset_url }} 500w, {{ 'sky-bg-p-800.jpg' | asset_url }} 800w, {{ 'sky-bg-p-1080.jpg' | asset_url }} 1080w, {{ 'sky-bg-p-1600.jpg' | asset_url }} 1600w, {{ 'sky-bg.jpg' | asset_url }} 2000w" class="footer-background">
<div id="w-node-f9083bcc-cb99-e68c-150c-72b6bca57bd6-cf39daf1" class="footer-tagline-container"><div class="hidden"><h2 class="footer-title"></h2><img loading="lazy" src="{{ 'ivory-diamond.svg' | asset_url }}" alt="" class="footer-symbols">
</div><div class="w-embed"><h2 class="footer-title" style="color:#003349;">PLAY WITH PASSION</h2><h2 class="footer-title">PLAY<span><img class="footer-symbols" src="https://cdn.shopify.com/s/files/1/0714/4636/4382/files/ivory-star.svg?v=1728031416">
</span>WITH<span><img class="footer-symbols" src="https://cdn.shopify.com/s/files/1/0714/4636/4382/files/ivory-diamond.svg?v=1728031416">
</span>LUDI</h2></div><div class="div-block-13"></div><div class="div-block-19"></div><div class="div-block-15-copy"></div><img loading="lazy" src="{{ 'symbol-ivory-vert.svg' | asset_url }}" alt="" class="image-7">
</div><div id="w-node-_6ef576ad-2b74-8c61-f870-c0f0a8781dc2-cf39daf1" class="footer-bg"></div><img id="w-node-fa976855-84e4-32be-897a-a875584fadf8-cf39daf1" sizes="(max-width: 479px) 70vw, (max-width: 767px) 80vw, (max-width: 991px) 68vw, 52vw" alt="" src="{{ 'footer-racket-shot.png' | asset_url }}" loading="lazy" srcset="{{ 'footer-racket-shot-p-500.png' | asset_url }} 500w, {{ 'footer-racket-shot.png' | asset_url }} 800w" class="footer-foreground">
<div id="w-node-cd834af5-b00f-59c5-5ac6-ab387a3fb125-cf39daf1" class="footer_link-grid"><div id="w-node-d828c699-6de9-6a21-5a3b-fe3823034819-cf39daf1" class="footer-social-container"><img loading="lazy" src="{{ 'green-logo.svg' | asset_url }}" alt="" class="image-5">
<ul role="list" class="list-copy w-list-unstyled"><li><a href="https://www.instagram.com/ludipaddle" target="_blank" class="link-block social-media w-inline-block"><div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 24 24"><path fill="currentColor" d="M7.03.084c-1.277.06-2.149.264-2.91.563a5.9 5.9 0 0 0-2.124 1.388a5.9 5.9 0 0 0-1.38 2.127C.321 4.926.12 5.8.064 7.076s-.069 1.688-.063 4.947s.021 3.667.083 4.947c.061 1.277.264 2.149.563 2.911c.308.789.72 1.457 1.388 2.123a5.9 5.9 0 0 0 2.129 1.38c.763.295 1.636.496 2.913.552c1.278.056 1.689.069 4.947.063s3.668-.021 4.947-.082c1.28-.06 2.147-.265 2.91-.563a5.9 5.9 0 0 0 2.123-1.388a5.9 5.9 0 0 0 1.38-2.129c.295-.763.496-1.636.551-2.912c.056-1.28.07-1.69.063-4.948c-.006-3.258-.02-3.667-.081-4.947c-.06-1.28-.264-2.148-.564-2.911a5.9 5.9 0 0 0-1.387-2.123a5.9 5.9 0 0 0-2.128-1.38c-.764-.294-1.636-.496-2.914-.55C15.647.009 15.236-.006 11.977 0S8.31.021 7.03.084m.14 21.693c-1.17-.05-1.805-.245-2.228-.408a3.7 3.7 0 0 1-1.382-.895a3.7 3.7 0 0 1-.9-1.378c-.165-.423-.363-1.058-.417-2.228c-.06-1.264-.072-1.644-.08-4.848c-.006-3.204.006-3.583.061-4.848c.05-1.169.246-1.805.408-2.228c.216-.561.477-.96.895-1.382a3.7 3.7 0 0 1 1.379-.9c.423-.165 1.057-.361 2.227-.417c1.265-.06 1.644-.072 4.848-.08c3.203-.006 3.583.006 4.85.062c1.168.05 1.804.244 2.227.408c.56.216.96.475 1.382.895s.681.817.9 1.378c.165.422.362 1.056.417 2.227c.06 1.265.074 1.645.08 4.848c.005 3.203-.006 3.583-.061 4.848c-.051 1.17-.245 1.805-.408 2.23c-.216.56-.477.96-.896 1.38a3.7 3.7 0 0 1-1.378.9c-.422.165-1.058.362-2.226.418c-1.266.06-1.645.072-4.85.079s-3.582-.006-4.848-.06m9.783-16.192a1.44 1.44 0 1 0 1.437-1.442a1.44 1.44 0 0 0-1.437 1.442M5.839 12.012a6.161 6.161 0 1 0 12.323-.024a6.162 6.162 0 0 0-12.323.024M8 12.008A4 4 0 1 1 12.008 16A4 4 0 0 1 8 12.008"></path></svg></div></a></li><li><a href="https://www.tiktok.com/@ludipaddle" target="_blank" class="link-block social-media w-inline-block"><div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 24 24"><path fill="currentColor" d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07"></path></svg></div></a></li><li><a href="https://www.facebook.com/ludipaddle" target="_blank" class="link-block social-media w-inline-block"><div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewbox="0 0 24 24"><path fill="currentColor" d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978c.401 0 .955.042 1.468.103a9 9 0 0 1 1.141.195v3.325a9 9 0 0 0-.653-.036a27 27 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.7 1.7 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103l-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647"></path></svg></div></a></li></ul></div>{% for link in linklists['footer-menu-1'].links %}    <div li-for="link in linklists['footer-menu-1'].links" id="w-node-c2b2a142-f022-8418-1e4f-a1042a3a4d19-cf39daf1" class="footer_link-list">
                                    
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                            {% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for link in linklists['footer-menu-2'].links %}    <div li-for="link in linklists['footer-menu-2'].links" id="w-node-_56ec8f9d-fc10-2f07-59ed-9f0169f506ee-cf39daf1" class="footer_link-list">
                                    
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                            {% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for link in linklists['footer-menu-3'].links %}    <div li-for="link in linklists['footer-menu-3'].links" id="w-node-cb5dc016-fca9-b9a2-0e82-707777d076cf-cf39daf1" class="footer_link-list">
                                    
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                            {% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for link in linklists['footer-menu-4'].links %}    <div li-for="link in linklists['footer-menu-4'].links" id="w-node-f6d794c2-19cf-8674-35fa-6c5085c6089f-cf39daf1" class="footer_link-list">
                                    
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                            {% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div></div><div class="footer_grid-payment"><div id="w-node-_946c4dcd-3bf7-2b09-3073-715a0eb0bb05-cf39daf1" class="inprint-links">{% for link in linklists['footer-link-bar'].links %}    <div li-for="link in linklists['footer-link-bar'].links" id="w-node-fc3178bf-d827-07a1-a0c4-3a4e497a8668-cf39daf1" class="footer_link-banner">
                                    
                            <div li-object="link.title | link_to: link.url" class="text-size-regular">{{ link.title | link_to: link.url }}</div>
                            
                            <div class="div-block-23">{% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}{% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-regular">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}</div>
                            
                            {% for link in linklists['legal'].links %}    <div li-for="link in linklists['legal'].links">
                                    
                            <div>Privacy Policy Link</div>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div><div id="w-node-bcbf1729-ae95-b688-491f-27bd9c6f62a9-cf39daf1"><div>© LUDI Paddle</div></div><div class="wg-element-wrapper sw7 hide"><div data-hover="true" data-delay="500" class="wg-dropdown-2 w-dropdown"><div lang="de" class="language-selector w-dropdown-toggle"><div>Deutsch</div><img src="https://uploads-ssl.webflow.com/613f2f905ede8d670775fc8a/61548248f37f3a0faab19498_arrow-drop.svg" loading="lazy" alt="" class="dropdown-aarow">
</div><nav class="wg-dd-2-list w-dropdown-list"><a href="#" lang="en" class="wg-dropdown-2-link w-dropdown-link">English</a></nav></div></div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"section_footer","presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}