<div class="header_background-image-wrapper"><img sizes="100vw" srcset="{{ 'main-hero-paddles-p-500.jpg' | asset_url }} 500w, {{ 'main-hero-paddles-p-800.jpg' | asset_url }} 800w, {{ 'main-hero-paddles-p-1080.jpg' | asset_url }} 1080w, {{ 'main-hero-paddles-p-1600.jpg' | asset_url }} 1600w, {{ 'main-hero-paddles.jpg' | asset_url }} 2000w" alt="" src="{{ 'main-hero-paddles.jpg' | asset_url }}" loading="lazy" class="full-width-background-image">
<img sizes="100vw" srcset="{{ 'ludi-mobile-home-hero-p-500.jpg' | asset_url }} 500w, {{ 'ludi-mobile-home-hero.jpg' | asset_url }} 800w" alt="" src="{{ 'ludi-mobile-home-hero.jpg' | asset_url }}" loading="lazy" class="full-width-background-image mobile">
</div><div class="padding-global"><div class="container-large"><div class="header_card"><div class="header_content"><h1 class="hero_heading">
{{ section.settings.text_headline }}
</h1>
<div class="spacer-small"></div><div class="header_strapline"><div class="text-size-x-large text-color-white hero-overide"> {{ section.settings.richtext_text }} </div>
</div></div></div></div></div><div class="hero_slider_container"><div class="full-width-container"><img sizes="100vw" srcset="{{ 'court-green-bg-p-500.jpg' | asset_url }} 500w, {{ 'court-green-bg-p-800.jpg' | asset_url }} 800w, {{ 'court-green-bg-p-1080.jpg' | asset_url }} 1080w, {{ 'court-green-bg-p-1600.jpg' | asset_url }} 1600w, {{ 'court-green-bg.jpg' | asset_url }} 2000w" alt="" src="{{ 'court-green-bg.jpg' | asset_url }}" loading="lazy" class="court_image_bg">
<section class="section is-slider-gallery"><div class="slider-gallery_component"><div class="slider-bg_component"><div class="swiper is-slider-bg w-dyn-list"><div role="list" class="swiper-wrapper is-slider-bg w-dyn-items">{% for product in section.settings.collection_all_paddles_1.products limit: section.settings.collection_all_paddles_1_limit %}
<div role="listitem" class="swiper-slide is-slider-bg w-dyn-item">
    
    {% for product in collection.products %}    <div li-for="product in collection.products" class="hide">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}
    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"></div></div></div><div class="slider-gallery_bottom-wrapper"><div class="slider-thumbs_component"><div class="slider-thumbs_overflow"><div class="slider-thumbs_wrapper"><div class="swiper is-slider-thumbs w-dyn-list"><div role="list" class="swiper-wrapper is-slider-thumbs w-dyn-items">{% for product in section.settings.collection_all_paddles_2.products limit: section.settings.collection_all_paddles_2_limit %}
<div role="listitem" class="swiper-slide is-slider-thumbs w-dyn-item">
    
    <div><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><img li-object:src="product.metafields.custom.slider_showcase_image | image_url: height: 1000" loading="lazy" alt="" src="{{ product.metafields.custom.slider_showcase_image | image_url: height: 1000 }}" class="slider-thumbs_image">
</div></div>
    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"></div></div></div></div></div><div class="slider_buttons_container"><div class="container-large"><div class="max-width-container"><div><div class="slider-gallery_button-wrapper"><a href="#" class="slider-gallery_button swiper-prev w-inline-block"><div class="slider-gallery_button-icon is-reversed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a><a href="#" class="slider-gallery_button swiper-next w-inline-block"><div class="slider-gallery_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a></div></div></div></div></div></div><div class="slider-titles_component"><div class="w-embed"><style>.swiper-slide.is-active .slider-thumbs_image {
	padding-left: 13%;
  padding-right: 13%;
  transition-delay: 100ms;
}
.swiper-slide.swiper-slide-prev .slider-thumbs_image {
	padding-left: 15%;
  padding-right: 23%;
}
.swiper-slide.swiper-slide-next .slider-thumbs_image {
	padding-left: 23%;
  padding-right: 15%;
}
</style></div><div class="swiper is-slider-titles w-dyn-list"><div role="list" class="swiper-wrapper is-slider-titles w-dyn-items">{% for product in section.settings.collection_all_paddles_3.products limit: section.settings.collection_all_paddles_3_limit %}
<div role="listitem" class="swiper-slide is-slider-titles w-dyn-item">
    
    <div class="container-large"><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-item_content_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><a li-object:href="product.url" id="w-node-_47865b17-f1bf-c5f6-14cc-842a141cb97b-b09f7c05" href="{{ product.url }}" class="slider-product-item_text-link w-inline-block"><div id="w-node-_47865b17-f1bf-c5f6-14cc-842a141cb975-b09f7c05" class="slider-product-item_tag_list">{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Sale    </div>
{% endif %}</div><div class="spacer-small"></div><div class="title-product-item_left"><div class="hero-heading w-embed"><h2><span li-object="product.title" class="hero-heading">{{ product.title }}</span><span><img class="product-name-symbols" src="https://cdn.shopify.com/s/files/1/0714/4636/4382/files/symbol-green.svg">
</span></h2></div><img loading="lazy" src="{{ 'symbol-green.svg' | asset_url }}" alt="" class="product-name-symbols hidden">
<div class="beginner-pro-text"><div li-object:text="product.metafields.custom.beginner_intermediate_or_pro" class="text-size-large text-color-ivory">
{{ product.metafields.custom.beginner_intermediate_or_pro }}
</div></div></div></a><div id="w-node-_47865b17-f1bf-c5f6-14cc-842a141cb99d-b09f7c05" class="product-item_form-wrapper"><div class="slider_product-item_price">{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="price-comp">
    {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="text-size-regular text-style-strikethrough text-style-muted strikethrough-gold non-strikethrough">
    WAS    </div>
{% endif %}<div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted strikethrough-gold">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}<div li-object="product.price | money" class="text-size-x-large text-weight-bold ivory-price">{{ product.price | money }}</div></div>{% if product.available == true %}    <div li-if="product.available == true" class="add-to-cart-container">
    <a li-element="add-to-cart" href="#" class="button max-width-full alt-color w-button" @click="addToCart(true)" :disabled="!addToCartButton">Add to Cart</a>    </div>
{% endif %}</div></div></div>
    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"></div></div></div></div></section></div></div> {% schema %} {"tag":"header","name":"Hero","class":"section_header-home","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"LUDI\u00a0Paddle Club"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>We believe in living life to the fullest while staying ahead of the game<\/p>"},{"id":"collection_all_paddles_1","type":"collection","label":"All Paddles 1"},{"type":"range","id":"collection_all_paddles_1_limit","min":1,"max":99,"step":1,"label":"Limit: All Paddles 1","default":6},{"id":"collection_all_paddles_2","type":"collection","label":"All Paddles 2"},{"type":"range","id":"collection_all_paddles_2_limit","min":1,"max":99,"step":1,"label":"Limit: All Paddles 2","default":6},{"id":"collection_all_paddles_3","type":"collection","label":"All Paddles 3"},{"type":"range","id":"collection_all_paddles_3_limit","min":1,"max":99,"step":1,"label":"Limit: All Paddles 3","default":6}],"presets":[{"name":"Hero","category":"Liquify"}]} {% endschema %}