<div class="full-width-container"><div class="full-width-container"><div class="w-layout-grid pre-footer-image-grid"><div id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3fa-b09f7c71"><img class="grid-image"
     alt="{{ section.settings.image_top_left.alt }}"

     id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3fb-b09f7c71" alt="{{ section.settings.image_top_left.alt }}" src="{{ section.settings.image_top_left | img_url: 'master' }}" loading="lazy" class="grid-image"}
>
</div><div id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3fc-b09f7c71"><img class="grid-image"
     alt="{{ section.settings.image_top_right.alt }}"

     id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3fd-b09f7c71" alt="{{ section.settings.image_top_right.alt }}" src="{{ section.settings.image_top_right | img_url: 'master' }}" loading="lazy" class="grid-image"}
>
</div><div id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3fe-b09f7c71" class="grid-symbol-bg"></div><div id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f3ff-b09f7c71"><img class="grid-image"
     alt="{{ section.settings.image_bottom_left.alt }}"

     id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f400-b09f7c71" alt="{{ section.settings.image_bottom_left.alt }}" src="{{ section.settings.image_bottom_left | img_url: 'master' }}" loading="lazy" class="grid-image"}
>
</div><div id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f401-b09f7c71"><img class="grid-image"
     alt="{{ section.settings.image_bottom_right.alt }}"

     id="w-node-_10f29bee-5c13-a09b-36ad-0b3f6497f402-b09f7c71" alt="{{ section.settings.image_bottom_right.alt }}" src="{{ section.settings.image_bottom_right | img_url: 'master' }}" loading="lazy" class="grid-image"}
>
</div></div></div></div> {% schema %} {"tag":"div","name":"Prefooter Image Choi","class":"section_prefooter","settings":[{"id":"image_top_left","type":"image_picker","label":"Top Left"},{"id":"image_top_right","type":"image_picker","label":"Top Right"},{"id":"image_bottom_left","type":"image_picker","label":"Bottom Left"},{"id":"image_bottom_right","type":"image_picker","label":"Bottom Right"}],"presets":[{"name":"Prefooter Image Choi","category":"Liquify"}]} {% endschema %}